.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
}

main {
  color: white;
  text-align: center;
}

.titlePlanet {
  background-color: rgba(240, 248, 255, 0.13);
  border: 1px rgba(255, 255, 255, 0.288) solid;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 15px;
  padding: 7px;
  width: 95%;
}

.cardPlanet {
  display: flex;
  margin: 25px 0;
}

.cardPlanet div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.planetImage {
  max-width: 100%;
}

.cardPlanet div:nth-of-type( 1 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 35%;
}

.cardPlanet div:nth-of-type( 2 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 55%;
}

.cardPlanet div:nth-of-type( 3 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 80%;
}

.cardPlanet div:nth-of-type( 4 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 70%;
}

.cardPlanet div:nth-of-type( 5 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 125%;
}

.cardPlanet div:nth-of-type( 6 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 90%;
}

.cardPlanet div:nth-of-type( 7 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 60%;
}

.cardPlanet div:nth-of-type( 8 ) .planetImage {
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 50%;
}

.cardMission {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  margin: 25px 0;
}

.missionCard {
  background-color: rgb(12, 12, 12);
  border: 1px rgba(255, 255, 255, 0.678) solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7px;
  width: 14%;
}
